<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel = "styleSheet" href = "styles/styles.css" type =text/css>
</head>
<body>
	<!-- The navigation bar -->
	<h1>Professional Sport Data </h1>
	 <nav class = "menu">
        <ul>
            <li class = "field"><a href = "/" id = "aLink">Home</a></li>
            <li class = "field"><a href = "/reports" id = "aLink">Reports</a></li>
            <li class = "field"><a href = "/charts" id = "aLink">Charts</a></li>
            <li class = "field"><a href = "/admin" id = "aLink">Admin</a></li>
        </ul>
    </nav>
    <div class ="container">
        {{{body}}}
    </div>
</body>
</html>