<!DOCTYPE html>
<h2> Search health risks by Sport </h2>

<form action="/action_page.php">
  <label for="sport_name">Sport name:</label><br>
  <input type="text" name="sport_name"><br>
  <input type="submit" value="Submit">
</form> 

 <br>
<div>
	<table>
		<caption>Health Risks related to Sport</caption>
		<thead>
			<th>Team</th>
			<th>Injury Name</th>
			<th>Injury Type</th>
			<th>Average</th>
		</thead>
		<tbody>
			<tr>
				<td>Lakers</td>
				<td>Knee - ACL</td>
				<td>Leg</td>
				<td>3.8</td>
			</tr>
			<tr>
				<td>Dodgers</td>
				<td>Ankle Sprain</td>
				<td>Leg</td>
				<td>4.9</td>
			</tr>
		</tbody>
	</table>  	
</div>
<br>
<br>

<img src="https://nflinjuryanalyticscom.files.wordpress.com/2017/06/injury-rates-across-sports-e1496779500701.png" width="500">

<h2> Search health risks by Injury Name </h2>

<form action="/action_page.php">
  <label for="injury_name">Injury name:</label><br>
  <input type="text" name="injury_name"><br>
  <input type="submit" value="Submit">
</form> 

 <br>
<div>
    <div>
    <table>
    	<caption>Injury's risk relation to Sport</caption>
		<thead>
			<th>Sport</th>
			<th>Organization</th>
			<th>Average</th>
		</thead>
		<tbody>
			<tr>
				<td>Football</td>
				<td>NBA</td>
				<td>4.1</td>
			</tr>
			<tr>
				<td>Hockey</td>
				<td>NHL</td>
				<td>2.6</td>
			</tr>
			<tr>
				<td>Volleyball</td>
				<td>NHL</td>
				<td>2.4</td>
			</tr>
		</tbody>
	</table>  	
</div>
</html>