<!DOCTYPE html>
<div>
<table>
	<caption>Top Player Contracts</caption>
	<thead>
		<th>Sport</th>
		<th>Team</th>
		<th>Organization</th>
		<th>Active Salary Cap</th>
	</thead>
	<tbody>
		<tr>
			<td>Basketball </td>
			<td>Lakers</td>
			<td>NBA</td>
			<td>$2,500.00</td>
		</tr>
		<tr>
			<td>Football </td>
			<td>Chiefs</td>
			<td>NFL</td>
			<td>$2,000.00</td>			
		</tr>
		<tr>
			<td>Baseball</td>
			<td>Yankees</td>
			<td>MLB</td>
			<td>$1,000.00</td>
		</tr>
	</tbody>
</table>  	
</div>

